venv
emails.csv
naive_bayes.ipynb
SVM_MLP.ipynb
Comparative_Analysis_of_Machine_Learning_and_Deep_Learning_for_Email.pdf
drive-download-20250216T090622Z-001/Model_spam_ham.ipynb
combined_data.csv
drive-download-20250216T090622Z-001/my_model.keras